<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="css/register.css"/>
	</head>
	<body>
		<div id="box">
			<div id="register">
				<form action="" method="post">
					<input class="username" value="请输入用户名"/><br />
					<input class="password" value="请输入密码"/><br />
					<input class="reset" value="重置" />
					<input class="regist" value="注册" />
				</form>
			</div>
		</div>
		<div id="fooder">
			
		</div>
	</body>
</html>
